 <mat-grid-list cols="3" rowHeight="290px">
        <mat-grid-tile rowspan="2"> <!---Lista das Plavras-->
         <app-PalavraNaoAprovada></app-PalavraNaoAprovada>
        </mat-grid-tile> 
        
        <mat-grid-tile rowspan="2" class="means"> 
        
        <app-Significados-Palavra></app-Significados-Palavra>

        </mat-grid-tile> <!---Significado Kimbundo-->
        <mat-grid-tile rowspan="2" class="means"> 

        <app-Significados-Palavra></app-Significados-Palavra>
        
        </mat-grid-tile> <!---Significado Kikongo-->
</mat-grid-list>  