
<article fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="5px">
         <section fxFlex="30">
                 <article fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="10px">
                       <span *ngIf="!Processing"> ({{todasPalavrasDoFirebase.length}}) Palavras Disponivéis </span>
                       <span>
                        <button mat-raised-button color="sucess" (click)="openDialog()" *ngIf="!Processing">Nova Palavra</button>
                       </span>
                 </article>
         </section>
         <section fxFlex="70" *ngIf="!Processing">

            <mat-list>
               <mat-list-item *ngFor="let palavra of todasPalavrasDoFirebase" class="words" (click)="enviarPalavra(palavra)"
               [style.background-color]="palavra.portuguese==palavraEscolhida ? 'beige' : null"
               >
                      {{palavra.portuguese}}
                  <div class="options">
                  <button mat-raised-button color="primary" (click)="editarPlavra(palavra)" >Edit</button>
                  <button mat-raised-button color="accent" (click)="eliminarPalavra(palavra)">Delete</button>
                 </div> 
              </mat-list-item>
     </mat-list>
             
         </section>
</article>
   
 <mat-progress-bar mode="indeterminate" value="40" *ngIf="Processing"></mat-progress-bar>
 <p *ngIf="Processing"> Pesquisando todas Palavras Disponíveis.....</p>

 
