.mat-list{
    height: 30em;
    overflow: scroll;
    overflow-x:hidden;
    overflow-y: auto;
    width: 95%;
}
.options button{
    width: 1em;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    margin: 10px;
}
.add{
 position: relative;
 left: 10em;
}
.options{
    position: absolute;
    left: 35%;
}
.words{
    cursor: pointer;
    margin: 1px;
}

.words:hover{
    background-color: ghostwhite;
}

.wordchoose{
    background-color: beige;
}