.mat-list{
    height: 510px;
    width: 35em;
    overflow: scroll;
}
.options button{
    margin: 10px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
}
.add{
 position: relative;
 left: 10em;
}
.options{
    position: absolute;
    left: 8em;
}
.words{
    position: relative;
    left: 4em;
    cursor: pointer;
    margin: 1px;
}

.words:hover{
    background-color: ghostwhite;
}

.wordchoose{
    background-color: beige;
}