
.options button{
    width: 1em;
    text-align: center;
    font-size: 12px;
    border-radius: 20px;
    margin: 10px;
}

.options{
    position: absolute;
    left: 37%;
}
.words{
    cursor: pointer;
    margin: 1px;
}

.words:hover{
    background-color: ghostwhite;
}