
<article fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="7px">
             <section fxFlex="40">

              <app-ListaPalavra (EnviarPlavraSelecionada)="enviouUmaPlavra($event)"></app-ListaPalavra>

            </section>
             <section fxFlex="30" *ngIf="loadword">
              <app-Significados-Palavra [Palavra]="PalavraSelecionada"></app-Significados-Palavra>
            </section>
             <section  fxFlex="30" *ngIf="loadword">
              <app-Significado-Kimbundo [Palavra]="PalavraSelecionada"></app-Significado-Kimbundo>
            </section>
</article>
