<mat-card>
      <mat-card-content>
        <mat-card-title>Editando a Palavra "{{PalavraExtra.palavraParaExibir}}" </mat-card-title>
        <mat-card-subtitle>{{PalavraExtra.palavraParaExibir}}</mat-card-subtitle>
            <form class="example-form">
              <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="nome" placeholder="Novo nome" name="nome">
             </mat-form-field>
           </form>
            {{smsresult}}
            <mat-progress-bar mode="indeterminate" value="40" *ngIf="Processing"></mat-progress-bar> 
           <button mat-raised-button color="primary" (click)="SalvarPlavra()" *ngIf="!Processing">Atualizar</button>
      </mat-card-content>
</mat-card>