<div fxLayout="row" fxLayoutWrap="wrap" class="Plavras-Todas">
		<!-- Card column -->
		<div fxFlex.gt-sm="100%" fxFlex="100">
				<mat-card>
						<mat-card-content>
								<mat-card-title>Todas Plavras </mat-card-title>
								<mat-card-subtitle>Dicionário Gloth</mat-card-subtitle>
						</mat-card-content>
						<mat-tab-group>
								<mat-tab label="Nosso Dicionario">
								<mat-card-content class="conteudo">
								  <app-Palavra></app-Palavra>
								</mat-card-content></mat-tab>
								<!--<mat-tab label="Kimbundo"><mat-card-content class="conteudo">Kimbundo</mat-card-content></mat-tab>
                                <mat-tab label="Kikongo"><mat-card-content class="conteudo">Content 2</mat-card-content></mat-tab>-->
						</mat-tab-group>
				</mat-card>    
		</div>
</div>