<div fxLayout="row" fxLayoutWrap="wrap">
		<!-- Card column -->
		<div fxFlex.gt-sm="100%" fxFlex="100">
				<mat-card>
						<mat-card-content>
								<mat-card-title>Plavras Sugeridas Enviadas </mat-card-title>
								<mat-card-subtitle>Dicionário Gloth</mat-card-subtitle>
						</mat-card-content>
						<mat-tab-group>
								<mat-tab label="Tenhas Acesso a Todas Plavras"><mat-card-content>
								  <app-PalavraSugerida></app-PalavraSugerida>
								</mat-card-content></mat-tab>

						</mat-tab-group>
				</mat-card>    
		</div>
</div>