.mat-list{
  height: 30em;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y: auto;
  width: 95%;
}
.options button{
  width: 70px;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;
  margin: 5px;
}
.options{
  position: absolute;
  left: 30%;
}
.words{
  cursor: pointer;
  margin: 1px;
}

.words:hover{
  background-color: ghostwhite;
}

.wordchoose{
  background-color: beige;
}