
<article fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="5px">
     <section fxFlex="20">
             <article fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="10px">
                   <span *ngIf="!Processing"> ({{todasPalavrasDoFirebase.length}}) Palavras Sugeridas </span>
             </article>
     </section>
     <section fxFlex="80" *ngIf="!Processing">
 
        <mat-list>
           <mat-list-item *ngFor="let palavra of todasPalavrasDoFirebase" class="words" (click)="enviarPalavra(palavra)"
           [style.background-color]="palavra.portuguese==palavraEscolhida ? 'beige' : null"
           >
                  {{palavra.portuguese}}
              <div class="options"> 
              <button mat-raised-button color="primary" (click)="editarPlavra(palavra)" >Edit</button>
              <button mat-raised-button color="sucess" (click)="aprovarPlavra(palavra)">Aprovar</button>
              <button mat-raised-button color="warn" (click)="regeitarPalavra(palavra)">Regeitar</button>
             </div> 
          </mat-list-item>
 </mat-list>
         
     </section>
</article>
       
<mat-progress-bar mode="indeterminate" value="40" *ngIf="Processing"></mat-progress-bar>
 <p *ngIf="Processing"> Pesquisando todas Palavras Sugeridas.....</p>