<mat-list >
            <mat-list-item  *ngFor="let palavra of todasPalavrasDoFirebase" class="words" (click)="enviarPalavra(palavra)">
                 {{palavra.portuguese}}
             <div class="options">  
		         <button mat-raised-button color="accent" (click)="aprovarPlavra(palavra)">Aprovar</button>
                 <button mat-raised-button color="warn" (click)="regeitarPalavra(palavra)">Regeitar</button>
                 <button mat-raised-button color="accent" (click)="editarPlavra(palavra)" >Editar</button>
            </div>  
            </mat-list-item>
</mat-list>